{% extends "../base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-4 offset-4">
            <form novalidate action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <label for="username">Username/Email</label>
                  <input type="text" class="form-control" name="username" id="username" aria-describedby="emailHelp" placeholder="Enter Username">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Enter Email">
                  </div>
                  <div class="form-group">
                    <label for="mobile_number">Mo. Number</label>
                    <input type="text" class="form-control" name="mobile_number" id="email" aria-describedby="emailHelp" placeholder="Enter Phone Number">
                  </div>

                  
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="confirm_password">Confirm Password</label>
                    <input type="password" class="form-control" name="confirm_password" id="confirm_password" placeholder="Confirm Password">
                  </div>
         
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</div>
{% endblock content %}