{% extends "../base.html" %}

{% block content %}
<div class="container">
    <div class="row">
    
        <div class="col-6 offset-3 mt-5">
            <h4>Update Student Form</h4>
            <div class="mt-4">
                <form novalidate action="" method="post">
                    {% csrf_token %}
                {{student_form.as_p}}
                <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
       
</div>
{% endblock content %}